# =====================================================================
# DomD guest configuration
# =====================================================================

seclabel='system_u:system_r:domD_t'

# Guest name
name = "DomD"

# Kernel image to boot
kernel = "/usr/lib/xen/boot/linux-domd"

device_tree = "/usr/lib/xen/boot/domd.dtb"

extra = "root=/dev/mmcblk0p1 rootwait rw initcall_debug=1 console=hvc0 clk_ignore_unused vhost_xen.nogrant=1"

dt_passthrough_nodes = [
    "/clock-controller@ff98000",
    "/extal",
    "/extalr",
    "/pin-controller@c0400000",
    "/system-controller@e6184000",
    "/reset-controller@c6490000",
    "/fck",
    "/hfck",
    "/regulator-1p8v",
    "/regulator-3p3v",
    "/mmc_ref_clk",
    "/mmc@c0880000",
    "/rsw_clk",
    "/ethernet@c9b80000",
    "/reserved-memory",
    "/cr52",
    "/mfis@18800000",
    "/rvgc",
]

dtdev = [
    "/mmc@c0880000",
    "/ethernet@c9b80000",
]

irqs = [
#mfis@18800000
    133,
    135,
    137,
    139,
    141,
    143,
    145,
    147,
# mmc@c0880000
    926,
# ethernet@c9b80000
    831,
    832,
    833,
    834,
    835,
    836,
    837,
    838,
    839,
    840,
    841,
    842,
    843,
    844,
    845,
    846,
    847,
    848,
    849,
    850,
    852,
    853,
    854,
    855,
    856,
    857,
    858,
    859,
    860,
    861,
    862,
    863,
    864,
    865,
    866,
    867,
    868,
    869,
    870,
    871,
    872,
    873,
    874,
    875,
    876,
    877,
    878,
    879,
    880,
    881,
    882,
    883,
    884,
    885,
    886,
    887,
    888,
    889,
    890,
    891,
    892,
    893,
    894,
    895,
    896,
    897,
    898,
    899,
    900,
    901,
    902,
    903,
    904,
    905,
    906,
    907,
    908,
    909,
    910,
    911,
    912,
    913,
    914,
    915,
    916,
    917,
    918,
    919,
    920,
    921,
    922,
    923,
    924,
]

iomem = [
#cr52_reserved@0x60000000
    "60000,10000,arm_mem_WB",
#cr52_ram@81000000
    "81000,500,arm_mem_WB",
#linux,cma@8bc00000
    "8bc00,32000,arm_mem_WB",
#mfis@18800000
    "18800,10",
    "189e0,1",
#cr52_ram@81000000
    "81000,500",
#clock-controller@ff98000
    "ff98,9",
#pin-controller@c0400000
#pin-controller@c0400000
    "c1080,1",
#pin-controller@c0400000
    "c1081,1",
#pin-controller@c0400000
#pin-controller@c0400000
    "c0800,1",
#pin-controller@c0400000
#pin-controller@c0400000
    "c0400,1",
#pin-controller@c0400000
#pin-controller@c0400000
    "c0401,1",
#pin-controller@c0400000
#pin-controller@c0400000
    "c9b00,1",
#system-controller@e6184000
    "e6184,4",
#reset-controller@c6490000
    "c6490,4",
#mmc@c0880000
    "c0880,2",
#ethernet@c9b80000
    "c9b80,40",
    "c9c89,1",
    "c9c50,1",
]

# Initial memory allocation (MB)
memory = 3072

# Number of VCPUS
vcpus = 6

# Uncomment this lines and add "/pmu_a76" node to
# dt_passthrough_nodes to enable PMU feature. 
# NOTE: this feature is not security supported:
# see https://xenbits.xen.org/xsa/advisory-163.html.
# It's not recommended to use it for production builds
# but it may be used for development or debugging.
# cpus = ["0", "1", "2", "3"]
# vpmu = 1

on_crash = 'preserve'

dt_compatible = [ "arm,rtsm_ve,aemv8a", "arm,vexpress" ]

driver_domain = 1
